/* font: import ================================================ */
@font-face {
  font-family: 'variableFont';
  src: url('./font/Tiny.ttf') format('truetype');
}


/* Layout ================================================ */
html,body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: rgb(17, 29, 255);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: background-color 1s ease-in-out, background-image 1s ease-in-out;
}


/* text ================================================ */
#mainText1 {
  position: fixed;
  top: 0;
  left: 0;
  rotate: 0deg;

  font-family: 'variableFont';
  font-size: 200px;
  color: rgb(255, 255, 255);
  text-align: left;
  letter-spacing: 0;
  line-height: 200px;
  
	font-variation-settings: "wght" 50;
  transition: rotate 1s ease-in-out, font-size 1s ease-in-out, font-variation-settings 1s ease-in-out;
}

#mainText2 {
  font-family: 'variableFont';
  font-size: 200px;

  transition: font-variation-settings 1s ease-in-out, color 1s ease-in-out;
}

.variable1 {
  font-variation-settings: "wght" 0;
  color: red;
}

.variable2 {
  font-variation-settings: "wght" 225;
  color: blue;
}

.variable3 {
  font-variation-settings: "wght" 100;
  color: rgb(255, 0, 179);
}

.variable4 {
  font-variation-settings: "wght" 100;
  color: rgb(26, 255, 0);
}


/* Image ================================================ */
#image {
  position: fixed;
  width: 400px;
}


